* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(250, 8%, 10%);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #364646);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, aqua);
}